In [3]:
import pandas as pd

In [ ]:
df = pd.read_excel("Data\online_retail_II.xlsx")

In [5]:
df

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer ID,Country
0,489434,85048,15CM CHRISTMAS GLASS BALL 20 LIGHTS,12,2009-12-01 07:45:00,6.95,13085.0,United Kingdom
1,489434,79323P,PINK CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,13085.0,United Kingdom
2,489434,79323W,WHITE CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,13085.0,United Kingdom
3,489434,22041,"RECORD FRAME 7"" SINGLE SIZE",48,2009-12-01 07:45:00,2.10,13085.0,United Kingdom
4,489434,21232,STRAWBERRY CERAMIC TRINKET BOX,24,2009-12-01 07:45:00,1.25,13085.0,United Kingdom
...,...,...,...,...,...,...,...,...
525456,538171,22271,FELTCRAFT DOLL ROSIE,2,2010-12-09 20:01:00,2.95,17530.0,United Kingdom
525457,538171,22750,FELTCRAFT PRINCESS LOLA DOLL,1,2010-12-09 20:01:00,3.75,17530.0,United Kingdom
525458,538171,22751,FELTCRAFT PRINCESS OLIVIA DOLL,1,2010-12-09 20:01:00,3.75,17530.0,United Kingdom
525459,538171,20970,PINK FLORAL FELTCRAFT SHOULDER BAG,2,2010-12-09 20:01:00,3.75,17530.0,United Kingdom
525460,538171,21931,JUMBO STORAGE BAG SUKI,2,2010-12-09 20:01:00,1.95,17530.0,United Kingdom

In [6]:
df['Total Price'] = df['Quantity'] * df['Price']

In [8]:
preprocessed_dataset = df[df['Total Price'] > 0].copy()

In [9]:
preprocessed_dataset

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer ID,Country,Total Price
0,489434,85048,15CM CHRISTMAS GLASS BALL 20 LIGHTS,12,2009-12-01 07:45:00,6.95,13085.0,United Kingdom,83.40
1,489434,79323P,PINK CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,13085.0,United Kingdom,81.00
2,489434,79323W,WHITE CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,13085.0,United Kingdom,81.00
3,489434,22041,"RECORD FRAME 7"" SINGLE SIZE",48,2009-12-01 07:45:00,2.10,13085.0,United Kingdom,100.80
4,489434,21232,STRAWBERRY CERAMIC TRINKET BOX,24,2009-12-01 07:45:00,1.25,13085.0,United Kingdom,30.00
...,...,...,...,...,...,...,...,...,...
525456,538171,22271,FELTCRAFT DOLL ROSIE,2,2010-12-09 20:01:00,2.95,17530.0,United Kingdom,5.90
525457,538171,22750,FELTCRAFT PRINCESS LOLA DOLL,1,2010-12-09 20:01:00,3.75,17530.0,United Kingdom,3.75
525458,538171,22751,FELTCRAFT PRINCESS OLIVIA DOLL,1,2010-12-09 20:01:00,3.75,17530.0,United Kingdom,3.75
525459,538171,20970,PINK FLORAL FELTCRAFT SHOULDER BAG,2,2010-12-09 20:01:00,3.75,17530.0,United Kingdom,7.50
525460,538171,21931,JUMBO STORAGE BAG SUKI,2,2010-12-09 20:01:00,1.95,17530.0,United Kingdom,3.90

In [10]:
preprocessed_dataset.shape

(511566, 9)

In [11]:
preprocessed_dataset.isna().sum()

Invoice             0
StockCode           0
Description         0
Quantity            0
InvoiceDate         0
Price               0
Customer ID    103902
Country             0
Total Price         0
dtype: int64

In [12]:
preprocessed_dataset = preprocessed_dataset.dropna(subset=['Customer ID', 'StockCode', 'Total Price'])

In [13]:
preprocessed_dataset.isna().sum()

Invoice        0
StockCode      0
Description    0
Quantity       0
InvoiceDate    0
Price          0
Customer ID    0
Country        0
Total Price    0
dtype: int64

In [14]:
preprocessed_dataset.shape

(407664, 9)

In [15]:
customer_item_matrix = preprocessed_dataset.pivot_table(index='Customer ID', columns='StockCode', values='Total Price', aggfunc='sum')

In [16]:
print(customer_item_matrix.head())

StockCode    10002  10080  10109  10120  10125  10133  10134  10135  10138  \
Customer ID
12346.0        NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
12347.0        NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
12348.0        NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
12349.0        NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
12351.0        NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN

StockCode    11001  ...  ADJUST2  BANK CHARGES  C2   D   M  PADS   POST  \
Customer ID         ...
12346.0        NaN  ...      NaN           NaN NaN NaN NaN   NaN    NaN
12347.0        NaN  ...      NaN           NaN NaN NaN NaN   NaN    NaN
12348.0        NaN  ...      NaN           NaN NaN NaN NaN   NaN    1.0
12349.0        NaN  ...      NaN           NaN NaN NaN NaN   NaN  450.0
12351.0        NaN  ...      NaN           NaN NaN NaN NaN   NaN    NaN

StockCode    SP1002  TEST001  TEST002
Customer ID
12346.0         NaN    202.5      1.0
12347.0         NaN      NaN      NaN
12348.0         NaN      NaN      NaN
12349.0         NaN      NaN      NaN
12351.0         NaN      NaN      NaN

[5 rows x 4017 columns]

In [17]:
print(preprocessed_dataset['Total Price'].min())
print(preprocessed_dataset['Total Price'].max())

0.001
15818.4

In [18]:
backup = preprocessed_dataset

In [19]:
# Find rows where Total Price is exactly 0
zero_values = preprocessed_dataset[preprocessed_dataset['Total Price'] == 0]
print(f"Number of zero values: {len(zero_values)}")
print(zero_values)

Number of zero values: 0
Empty DataFrame
Columns: [Invoice, StockCode, Description, Quantity, InvoiceDate, Price, Customer ID, Country, Total Price]
Index: []

In [20]:
# Find rows where Total Price is negative
negative_values = preprocessed_dataset[preprocessed_dataset['Total Price'] < 0]
print(f"Number of negative values: {len(negative_values)}")
print(negative_values)

Number of negative values: 0
Empty DataFrame
Columns: [Invoice, StockCode, Description, Quantity, InvoiceDate, Price, Customer ID, Country, Total Price]
Index: []

In [21]:
preprocessed_dataset['Normalized Price'] = (
    5 * (preprocessed_dataset['Total Price'] - preprocessed_dataset['Total Price'].min()) /
    (preprocessed_dataset['Total Price'].max() - preprocessed_dataset['Total Price'].min())
)

C:\Users\biswa\AppData\Local\Temp\ipykernel_31464\124303239.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  preprocessed_dataset['Normalized Price'] = (

In [22]:
preprocessed_dataset

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer ID,Country,Total Price,Normalized Price
0,489434,85048,15CM CHRISTMAS GLASS BALL 20 LIGHTS,12,2009-12-01 07:45:00,6.95,13085.0,United Kingdom,83.40,0.026361
1,489434,79323P,PINK CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,13085.0,United Kingdom,81.00,0.025603
2,489434,79323W,WHITE CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,13085.0,United Kingdom,81.00,0.025603
3,489434,22041,"RECORD FRAME 7"" SINGLE SIZE",48,2009-12-01 07:45:00,2.10,13085.0,United Kingdom,100.80,0.031861
4,489434,21232,STRAWBERRY CERAMIC TRINKET BOX,24,2009-12-01 07:45:00,1.25,13085.0,United Kingdom,30.00,0.009482
...,...,...,...,...,...,...,...,...,...,...
525456,538171,22271,FELTCRAFT DOLL ROSIE,2,2010-12-09 20:01:00,2.95,17530.0,United Kingdom,5.90,0.001865
525457,538171,22750,FELTCRAFT PRINCESS LOLA DOLL,1,2010-12-09 20:01:00,3.75,17530.0,United Kingdom,3.75,0.001185
525458,538171,22751,FELTCRAFT PRINCESS OLIVIA DOLL,1,2010-12-09 20:01:00,3.75,17530.0,United Kingdom,3.75,0.001185
525459,538171,20970,PINK FLORAL FELTCRAFT SHOULDER BAG,2,2010-12-09 20:01:00,3.75,17530.0,United Kingdom,7.50,0.002370
525460,538171,21931,JUMBO STORAGE BAG SUKI,2,2010-12-09 20:01:00,1.95,17530.0,United Kingdom,3.90,0.001232

In [23]:
import numpy as np
np.__version__

'1.26.0'

In [24]:
# !pip uninstall numpy

In [25]:
# !pip install numpy == 1.26.0

In [26]:
invalid_rows = preprocessed_dataset[(preprocessed_dataset['Total Price'] <= 0)]
print(f"Remaining invalid rows: {len(invalid_rows)}")

Remaining invalid rows: 0

In [27]:
from surprise import SVD, Reader, Dataset
from surprise.model_selection import train_test_split
from surprise import accuracy

reader = Reader(rating_scale=(0, 5))
data = Dataset.load_from_df(preprocessed_dataset[['Customer ID', 'StockCode', 'Normalized Price']], reader)

In [28]:
trainset = data.build_full_trainset()
print("Sample of training data:")
for uid, iid, true_r in trainset.all_ratings():
  if(true_r == 0 or true_r < 0):
    print(f"Customer ID: {uid}, StockCode: {iid}, Total Price: {true_r}")

Sample of training data:
Customer ID: 82, StockCode: 2892, Total Price: 0.0
Customer ID: 282, StockCode: 2892, Total Price: 0.0
Customer ID: 282, StockCode: 2892, Total Price: 0.0
Customer ID: 586, StockCode: 2892, Total Price: 0.0
Customer ID: 708, StockCode: 2892, Total Price: 0.0
Customer ID: 1308, StockCode: 2892, Total Price: 0.0
Customer ID: 1309, StockCode: 2892, Total Price: 0.0
Customer ID: 1354, StockCode: 2892, Total Price: 0.0
Customer ID: 1614, StockCode: 2892, Total Price: 0.0
Customer ID: 1614, StockCode: 2892, Total Price: 0.0
Customer ID: 1665, StockCode: 2892, Total Price: 0.0
Customer ID: 1698, StockCode: 2892, Total Price: 0.0
Customer ID: 1909, StockCode: 2892, Total Price: 0.0
Customer ID: 2253, StockCode: 2892, Total Price: 0.0

In [29]:
trainset, testset = train_test_split(data, test_size=0.2, random_state=42)

In [30]:
from surprise.model_selection import GridSearchCV

param_grid = {
    'n_factors': [50, 100, 150],
    'n_epochs': [20, 30],
    'lr_all': [0.002, 0.005],
    'reg_all': [0.02, 0.1]
}


grid_search_normalized_data = GridSearchCV(SVD, param_grid, measures=['rmse'], cv=3)
grid_search_normalized_data.fit(data)


print(f"Best RMSE: {grid_search_normalized_data.best_score['rmse']}")
print(f"Best parameters: {grid_search_normalized_data.best_params['rmse']}")


best_model_SVD_normalized_data = grid_search_normalized_data.best_estimator['rmse']
best_model_SVD_normalized_data.fit(trainset)
predictions = best_model_SVD_normalized_data.test(testset)


rmse = accuracy.rmse(predictions)
print(f"RMSE on Test Set: {rmse}")

mae = accuracy.mae(predictions)
print(f"MAE on Test Set: {mae}")

Best RMSE: 0.021428333737117
Best parameters: {'n_factors': 50, 'n_epochs': 30, 'lr_all': 0.005, 'reg_all': 0.1}
RMSE: 0.0209
RMSE on Test Set: 0.0208889760822765
MAE:  0.0053
MAE on Test Set: 0.005257549393497983

In [32]:
import joblib

joblib.dump(best_model_SVD_normalized_data, 'SVD.pkl')

['SVD.pkl']